body{
  font: 14px/1.3 'Titillium Web', sans-serif;
  color: $black;
  margin: 0 auto;
  border: 1px solid #888;
  background-color: #fcfdff;
}

ul{
  list-style: none;
  padding: 0;
}

button{
  background: none;
  border: none;
  outline: none;
}