// 1. Basic variables
	// 1.1 Colors
$black: #000;
$white: #fff;
$pink: #ff00ff;
$pinkHover: #d400d4;
$blue: #29a7de;
$blueHover: #2590bf;

$desktop: 1024px;
$tablet: 768px;
$phone: 640px;

	
$desktop-df: 1023px;
$tablet-df: 767px;
$phone-df: 639px;